body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #777;
  background: #fafafa;
}

h1, h2, h3, h4, h5 {
  font-weight: 400;
  color: #444;
}

:global .emphasis {
  text-transform: uppercase;
}

a:link, a:visited, a:focus {
  text-decoration: none;
  color: #660000;
}

a:hover {
  color: #cc0000;
}

.content {
  padding-top: 60px;
  /*account for top navbar */
}

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }
